GOOGLE_API_KEY=""
GOOGLE_CSE_ID=""

GOOGLE_APPLICATION_CREDENTIALS="$PWD/$PATH_TO_GCP_CREDENTIALS/gcp-credentials.json"
GOOGLE_GENAI_USE_VERTEXAI=true
GOOGLE_CLOUD_PROJECT=jobs-recon
GOOGLE_CLOUD_LOCATION=us-central1
GEMINI_MODEL=gemini-2.5-flash